/*
body {
    display: block;
    margin: 0px;
}
*/


body{
    box-sizing: border-box;
    background: #fff;
/*  overflow-x: hidden;*/
    font-family:'Montserrat', "Helvetica", "Arial", "sans-serif";
    color:#18414b;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1100px;
}

header {
    display: flex;
    align-items: center;
}

.cf:after {
    content: "";
    display: table;
    clear: both;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    display: inline-block;
    width: 12%;
    margin-left: 10%; 
}

.nav {
    width: 25%;
    display: flex;
    justify-content:space-between;
    display: inline-block;
} 

.nav a {
    text-decoration: none; 
    color:black;
    padding: 4px;
}

.nav a:hover {
    color:white;
    background-color:#4d7aa1;
    padding: 4px;
    border-radius: 10px;   
} 

h2 {
    max-width: 60%;
    display: inline-block;
    margin-top: 0;
    padding: 40px 0 20px 5%; 
    font-size: 2.3rem;
}

#logo img {
    width:40%;
}

.last  {
    margin-top: 10px;
}


/*_________ about _____________*/

#self {
    width: 20%;
    margin-top: 30px;
}



#mail {
    color: #4d7aa1;
}

#mail a{
    color: #4d7aa1;
}

#mail a:hover {
    color: white;
    background-color:#4d7aa1;
    border-radius: 10px; 
    padding: 5px;
}

#back {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


/*______________________*/


.gallery {
	background: #000;
/*    background-color: #4d7aa1;*/
	margin: 15px 0;    
}

.gallery img {
	width: 33%;
    opacity: .75;
}

.gallery img:hover {
	opacity: 1;
}

.mobile-show {
	display: none;	
}

/*_________________________*/

@media screen and (max-width:950px){
	.gallery img {
		width: 49.6%;
	}
    
    #logo {
		width: 16%;
        margin-left: 10%;
}
    
@media screen and (max-width:600px){
	.gallery img {
		width: 99.7%;
}
    #logo {
		width: 20%;
        margin-left: 10%;
}

    h2 {
        padding: 40px 0 20px 5%; 
        font-size: 1.8rem;
} 

@media screen and (max-width:480px){
	#logo {
		width: 35%;
        margin-left: 5%;    
}
 
    h2 {
        font-size: 1.5rem;
} 
    
    
/*
    img {
        width:30%;
    }
*/


/*
.line-gutter-backdrop {
    box-sizing: border-box;
    width: 31px;
    background-color: rgb(240, 240, 240);
    user-select: none;
    position: absolute;
    z-index: -1;
    left: 0px;
    top: 0px;
    height: 100%;
    padding: 0px 4px !important;
    border-right: 1px solid rgb(187, 187, 187) !important;
}

div {
    display: block;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    white-space: pre-wrap !important;
    line-height: normal;
    font-weight: normal;
    font-size: initial;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    width: 100%;
    word-break: break-word;
    font-family: monospace;
    font-family: hervetica;
    tab-size: 4;
    border-spacing: 0px;
    border-color: grey;
    font-variant: normal;
    margin: 0px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td {
    display: table-cell;
    vertical-align: baseline;
    padding: 0px !important;
}

.line-number {
    box-sizing: border-box;
    width: 31px;
    background-color: rgb(240, 240, 240);
    user-select: none;
    text-align: right;
    color: rgb(128, 128, 128);
    word-break: normal;
    white-space: nowrap;
    font-size: 9px;
    font-family: Helvetica;
    padding: 0px 4px !important;
    border-right: 1px solid rgb(187, 187, 187) !important;
}

.line-number::before {
    content: attr(value);
}

.line-content {
    padding: 0px 5px !important;
}


*/

