@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap');
	
@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('../font/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('../font/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*--------------  GENERAL STYLES ------------*/

* {
	box-sizing: border-box;
}

html {
    background-color: #e9ebed;
}

body {
	line-height: 1;
	font: 18px /26px 'Open Sans', sans-serif;
	color: #141414;
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
}

.container {
	max-width: 1400px;
	width: 85%;
	margin: 0 auto;
/*    background: red;*/
}


ol, ul {
	list-style: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

h1{
    
}

h2{
font-size: 1.6em; 
margin-top: 120px;
margin-bottom: 30px;
}


h3{
    
}

h4{
    
}

/*-----------------  Header ---------------*/
header {
	background-color: #000;
	width: 100%;
	color: #fff;
	padding: 20px 0 0;
    min-height: 80px;
}

.title {
    display: flex;
    justify-content:space-between;
}
.return a{
    color:white;
    font-size: 1.4rem;
/*    float:left;*/
    text-decoration: none;
}

.logo-title {
    display: flex;
    justify-content: flex-end;
}

.title h3 {
    margin:0;
}

#header-logo{
/*    width: 9%;*/
    height: 75px;
    margin-bottom: 10px;
    margin-left: 15px;
/*    border: solid 2px white;*/
}


/*----------------- Branding ---------------*/

.realSite {
margin-top: 70px;
margin-bottom: 100px;}

.realSite a {
    text-decoration:none;
}

.buttonBorder {	  
  width: 65%;
  border:double 15px #EE8383; 
  padding: 1px 20px;
  border-radius: 10px;
}

 .buttonBorder a {
  color: #EE8383; 
}

 .buttonBorder a:hover {
  color: #FFF; 
}

.buttonBorder:hover {
  background: rgba(224, 136, 134, 0.5);
  border: 4px solid #fff;  
  box-shadow: 0px 0px 0px 5px #EE8383;
  padding: 7px 23px;
}


/*----------------- Creative Brief ---------------*/

.three_col{
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: minmax(150px, auto);
	grid-column-gap: 15px;
}

.cb {
    background-image: url(../images/teens-blue.png);
    background-position: right center;
    background-size: cover;
   
}

.cb img{
/*    margin:  20px 0 20px 50px;*/
    margin-top: 30px;
    margin-bottom: 30px;
    width: 25%;
    transition: transform .2s;
    cursor: pointer;
}

.cb img:hover{
    margin-top: 20px;
    transform: scale(1.6);  
}

.cb-1 {
    transform-origin: right;
    margin-left: 15%;
    margin-right: 3%;
}

.cb-2 {
    transform-origin: left;
    margin-right:20%;
}

.depression {
    width: 30%;
}

/*----------------- persona ---------------*/

.persona {
    margin:  20px 0 20px ;
    width: 30%;
    transition: transform .2s;
    cursor: pointer;   
}

.persona:hover{
    margin-top: 20px;
    transform: scale(1.6); 
}

.persona-1 {
    transform-origin: right top;
    margin-left:15%;
    margin-right: 5%;
}

.persona-2 {
    transform-origin: left top;
    
}

/*----------------- site map ---------------*/

.sitemap {
    margin:  20px 0 20px 17%;
    width: 20%;
    transition: transform .2s;
    cursor: pointer;
    transform-origin: left ; 
}

.sitemap:hover{
    margin-top: 20px;
    transform: scale(1.6);  
}

.run{
    background-image: url(../images/running6.jpg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 25%;

   
}

/*----------------- font study ---------------*/

.font{
    width: 27%;
    margin-right: 5%;
    transition: transform .2s;
    cursor: pointer;
}

.font:hover{
    margin-top: 20px;
    transform: scale(1.6);  
}

.font_left {
    transform-origin: left top; 
}


/*----------------- color study ---------------*/

.color{
    width: 29%;
    margin-right: 2%;
    transition: transform .2s;
    cursor: pointer;
}

.color:hover{
    margin-top: 20px;
    transform: scale(1.6);  
}

.color_left {
    transform-origin: left; 
}

.colorStudy h2 {
    margin-top: 150px;
}


/*-----------------  footer ---------------*/

.realSite2 {
    margin-top: 120px;
}

/*
.back-to-top {
    float: right;
    display: inline-block;
    padding-top: 20px;
    padding-right: 10%;
    transition: transform .2s;
}
*/



footer {
	background-color: #363636;
	width: 100%;
	padding: 30px 0;
	color: #fff;
	text-align: left;
}

footer p {
	margin-left: 30px;
}

.back-to-top {
    float: right;
    display: inline-block;
    padding-top: 20px;
    padding-right: 10%;
    cursor: pointer;
}

.back-to-top:before {
    content: url(../img/sprites.png);
    display: inline-block;
    font-size: 0;
    line-height: 0;
    margin-left: -40px;
}

.no-js .back-to-top {
    display: none;
}

/*------media query----------*/

@media screen and (max-width: 1610px) {
.gallery li {
	width: 25%;
/*	margin: 0 auto;*/
	}
}	
	
@media screen and (max-width: 1200px) {
	
.gallery li {
	width: 25%;
	}
.swiper-slide {
	height: 550px;
	}
}

@media screen and (max-width: 960px) {
	
.gallery li {
	width: 33%;
	}
.swiper-slide {
	height: 450px;
	}
}

@media screen and (max-width: 768px) {
	
.gallery li {
	width: 50%;
	}
.swiper-slide {
	height: 400px;
	padding-right: 20px;
	padding-left: 20px;
	}	
.title p {
	width: 60%;	
	}	

}



@media screen and (max-width: 550px) {	
	
.gallery li {
	width: 100%;
	}
}

.gallery h1, .slider h1 {
	line-height: 80px;
}

/*
.sns {
	float: none;
}
*/

@media screen and (max-width: 320px) {	
	
.gallery li {
	width: 100%;
	}
}

footer p {
	width: 70%;
}



